<%= render "base" %>

<div class="sidebar">
    <%= render "sidebar_for_topic_recent" %>
</div>

<div class="content">
  <div class="box">
    <div id="node_info">
      <%= render "node_info", :node => @node %>
    </div>

    <div class="topics">
        <%= render :partial => "topics/topic", :collection => @topics, :as => :topic %>
    </div>
     
    <%= will_paginate @topics %> 

</div>

